<form class="form" ngForm (submit)="submitData(frm.value)" #frm="ngForm" *ngIf="employeeInfo">

    <div class="form-group">
        <label for="employeename">
            Name:
        </label>
        <div class="form-control">
            <input type="text" name="employeename" id="employeename" [(ngModel)]="employeeInfo.employeename" />
        </div>
    </div>

    <div class="form-group">
        <label for="employeesalary">
            Salary:
        </label>
        <div class="form-control">
            <input type="text" name="employeesalary" id="employeesalary" [(ngModel)]="employeeInfo.employeesalary" />
        </div>
    </div>

    <div class="form-group">
        <label for="location">
            Location:
        </label>
        <div class="form-control">
            <input type="text" name="location" id="location" [(ngModel)]="employeeInfo.location" />
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>