<p>
    <button class="btn btn-primary" (click)="getEmployees()">Load</button>
</p>
<div class="table-responsive marginStyle">
    <table *ngIf="employees && employees.length>0" class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Salary</td>
                <td>Location</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employees">
                <td>
                    <a>
                        {{ e.employeeid }}
                    </a>
                </td>
                <td>
                    <a>
                        {{ e.employeename }}
                    </a>
                </td>
                <td>{{ e.employeesalary }}</td>
                <td>{{ e.location }}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #alternate>
    <div>No records to display</div>
</ng-template>